<!-- Footer -->
<footer class="bg-dark text-white">
    <!-- Grid container -->
    <div class="container p-4">
     
      <!-- Section: Text -->
      <section class="mb-4">
        <div>
          Prova i quiz dei concorsi.
          Le opzioni da selezionare: 
          <ul>
            <li>Simulare un Test vero e proprio selezionando il numero delle domande;</li>
            <li>Leggere domande e risposte corrette;</li>
            
          </ul>
          <div class="text-center">
          <a href='https://www.buymeacoffee.com/danyroma77'>
          <img src='../../assets/cofee.jpg' width="250px" alt="Buy me a coffee"></a>
          &nbsp;
          <a href="https://github.com/Danyroma77" target="_blank" alt="My Profile">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-f057f.appspot.com/o/7.png?alt=media&token=bbd73c29-d564-4c4c-9450-ddb438ee55b3"
            alt="Daniele Bulgarini's Profile" /></a>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
  
    </div>
    <!-- Grid container -->
  
    
  </footer>
  <!-- Footer -->
