<!-- Footer -->
<footer class="bg-dark text-white">
    <!-- Grid container -->
    <div class="container p-4">
     
      <!-- Section: Text -->
      <section class="mb-4">
        <div>
          Prova i quiz dei concorsi.
          Hai tre opzioni: 
          <ul>
            <li>Simulare un Test vero e proprio selezionando il numero delle domande;</li>
            <li>Leggere domande e risposte corrette;</li>
            <li>Stampare un file excel con le domande e risposte (con il filtro solo per quelle corrette).</li>
          </ul>
          <div class="text-center">
          <a href='https://www.buymeacoffee.com/danyroma77'>
          <img src='../../assets/cofee.jpg' width="250px"></a>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
  
    </div>
    <!-- Grid container -->
  
    
  </footer>
  <!-- Footer -->
