<div class="card">
    <div class="card-head">
        <h5>Quiz - Generazione File PDF</h5>
    </div>
    <div class="card-body">
        <div *ngIf="!currentQuiz">  <form class="form" [formGroup]="formC" (submit)="goToPdfCreator()">
            <div class="form-group" *ngIf="listQuiz; else spinner">
                <label>Seleziona un concorso</label>
                <select formControlName="quizC" id="quizC">
                    <option *ngFor="let q of listQuiz; let i = index" [value]="q.codingValue">
                        {{q.nameQuiz}}
                    </option>
                </select>

            </div>
            <div class="form-group">
                <button class="btn btn-info" [disabled]="formC.invalid">Vedi</button>
            </div>
        </form></div>
        <div class="textInfo" *ngIf="currentQuiz">
            <form [formGroup]="formConfirm" (submit)="requestList()">

                <div class="form-group"><label>Quiz Selezionato: <b>{{currentQuiz.nameQuiz}}</b></label></div>
                <div class="form-group"><label>Numero di Test in archivio: {{currentQuiz.numTest    }}</label></div>
                <div class="form-group text-center"><button class="btn btn-primary">Genera PDF</button>
                <button class="btn btn-secondary" (click)="newSearch()">Nuova Selezione</button></div>
            </form>
            <i>Verifica le impostazioni del tuo browser per consentire l'apertura dei popup dal sito.<br>
            Attualmente non è possibile generare PDF con immagini nella domanda e nella risposta.</i>
        </div>
    </div>
    <ng-template #spinner>
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </ng-template>
</div>
