<div class="card">
    <div class="card-head">
        <h5>Quiz - Domande e Risposte Corrette</h5>
    </div>
    <div class="card-body">
        <div *ngIf="!currentQuiz">
            <form class="form" [formGroup]="formB" (submit)="goToOkList()">
                <div class="form-group" *ngIf="listQuiz; else spinner">
                    <label>Seleziona un concorso</label>
                    <select formControlName="quizB" id="quizB">
                        <option *ngFor="let q of listQuiz; let i = index" [value]="listQuiz[i].codingValue">
                            {{listQuiz[i].nameQuiz}}
                        </option>
                    </select>

                </div>
                <div class="form-group">
                    <button class="btn btn-info" [disabled]="formB.invalid">Vedi</button>
                </div>
            </form>

        </div>
        <div class="textInfo" *ngIf="currentQuiz">
            <form [formGroup]="formConfirm" (submit)="requestList()">

                <div class="form-group"><label>Quiz Selezionato: {{currentQuiz.nameQuiz}}</label></div>
                <div class="form-group"><label>Numero di Test previsti nella simulazione: {{currentQuiz.numQuizAtTime}}</label></div>
                <div class="form-group"><label>Numero di Test in archivio: {{currentQuiz.numTest}}</label></div>
                <div class="form-group"><button class="btn btn-primary">Mostra Quiz</button>
                <button class="btn btn-secondary" (click)="newSearch()">Nuova Selezione</button></div>
            </form>
        </div>
        <div *ngIf="quizElaboration">
            <h6>Elenco Domande - Risposte (solo quelle corrette)</h6>
        </div>
    </div>
    <ng-template #spinner>
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </ng-template>
</div>